h1 Challenge #1
form.field-form(name="field-form")
   .form-holder.col-sm-4.col-sm-push-4
      h2.col-sm-12 Set up a rectangle
      .col-sm-12
         input(type="number" placeholder="X axis" ng-model="vm.rectangleX" min="1" max="25")
      .col-sm-12
         input(type="number" placeholder="Y axis"  ng-model="vm.rectangleY" min="1" max="25")
      .col-sm-12
         button.btn.btn-success(ng-click="vm.play()") Lets play!