head
   meta(charset='utf-8')
   title Challange #1
   meta(http-equiv='X-UA-Compatible', content='IE=edge')
   meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
   meta(content="320" name="MobileOptimized")
   link(rel="stylesheet" href="main.css")

   <!-- build:css vendor.css -->
   <!-- bower:css -->
   <!-- endbower -->
   <!-- endbuild -->
   <!-- build:css({.tmp}) app.css -->
   <!-- inject:css -->

   <!-- endinject -->
   <!-- endbuild -->
