doctype
html(ng-app="app" ng-strict-di)
    include components/_global/views/partials/_head
    body
        <!--[if lt IE 9]>
    p.browsehappy
        | You are using an <strong>outdated</strong> browser.
        | Please <a href="http://browsehappy.com/">upgrade your browser</a>
        | to improve your experience.
    <![endif]-->
    ui-view
    include components/_global/views/partials/_scripts
                                                                                       