.field-form input,
.field-form button{
    margin: 10px;
    width: 100%;
}

.field button{
  margin:10px 0;
}

h1,h2,.field {
    text-align: center;
}

.cell{
    border:3px solid black;
    display:inline-block;
    position:relative;
    width:40px;
    height:40px;
}

.row{
    width:100%;
    height:40px;
}

.cross{
    position:absolute;
    left:6px;
    top:4px;
}
.cell.active{
    background-color: red;
}
.form-holder{
    border-radius:30px;
    border:3px solid grey;
}

.options.active{
    font-weight: bold;
}